.container {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
    @media #{$XL} {
      width: 960px;
    }
   @media #{$LG} {
     width: 95%;
    }
  }

    .box {
      border-radius: 5px;
      position: relative;
      margin-top: 9em;
      margin-bottom: 0;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: -9em;
          left: 50%;
          height: 9em;
          border-left: solid 1px #fff;
        }
        &:before {
          content: '';
          display: block;
          width: 90px;
          height: 66px;
          position: absolute;
          left: 50%;
          top: -4.5em;
          margin-left: -45px;
          margin-top: -33px;
          background-image: url("../images/arrow.svg") no-repeat;
        }
        & :last-child {margin-bottom: 0;}
        &.style1 {
          background: #fff;
          padding: 4.5em;
        }
        &.style1 .image {
          display: block;
          position: absolute;
          top: 0;
          width: 50%;
          height: 100%;
          background: $brand-color;
          overflow: hidden;
        }
        &.style1 .image img {
          border-radius: 5px 0 0 5px;          position: absolute;
          top: 0;
          height: 100%;
          width: auto;
        }
        &.style1.right .image {left: 0;}
        &.style1.right .image img {right: 0;}
        &.style1.right .inner {
          margin-left: 50%;
          padding-left: 3em;
        }
        &.style1.left .image {right: 0;}
        &.style1.left .image img {left: 0;}
        &.style1.left .inner {
          margin-right: 50%;
          padding-right: 3em;
        }
        &.style2 {
          text-align: center;}
        &.style2 header {
          display: inline-block;
          background: #fff;
          padding: 2em 3em 2em 3em;
          margin: 0;
        }
        &.style2 header p {padding: 0;}
        &.style2 .inner {
          position: relative;
          padding: 40px 0 0px 0;
        }
        &.style2 .inner:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          height: 100%;
          border-left: solid 1px #fff;
        }

    }
