@import "modules/profile-view";
@import "modules/register-view";
@import "modules/login-view";
@import "modules/header";
@import "modules/banner";
@import "modules/image";
@import "modules/button";
@import "modules/timer";
@import "modules/footer";

.button-group {
  position: relative;
  left: 35%;
  transform: translateX(-10%);
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-font-size: 1em !default;
  $base-background-color: white !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $button-group-background: $base-background-color;
  $button-group-color: lighten($base-font-color, 30%);
  $button-group-border: 1px solid silver;
  $button-group-inner-border: 1px solid lighten(silver, 18%);
  $button-group-background-checked: $action-color;
  $button-group-color-checked: white;
  $button-group-border-checked: darken($button-group-background-checked, 15%);

  input {
    display: none;
  }

  label {
    margin-bottom: 0;

    @include media($large-screen) {
      float: left;
    }

    .button-group-item {
      background: $button-group-background;
      border-left: $button-group-border;
      border-radius: 0;
      border-right: $button-group-border;
      color: $button-group-color;
      cursor: pointer;
      display: inline-block;
      font-size: $base-font-size;
      font-weight: normal;
      line-height: 1;
      padding: 0.75em 1em;
      width: 100%;

      @include media($large-screen) {
        border-bottom: $button-group-border;
        border-left: 0;
        border-right: $button-group-inner-border;
        border-top: $button-group-border;
        width: auto;
      }

      &:focus,
      &:hover {
        background-color: darken($button-group-background, 3%);
      }
    }

    &:first-child .button-group-item {
      @include border-top-radius($base-border-radius);
      border-top: $button-group-border;

      @include media($large-screen) {
        border-bottom-left-radius: $base-border-radius;
        border-left: $button-group-border;
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: 0;
      }
    }

    &:last-child .button-group-item {
      @include border-bottom-radius($base-border-radius);
      border-bottom: $button-group-border;

      @include media($large-screen) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $base-border-radius;
        border-right: $button-group-border;
        border-top-right-radius: $base-border-radius;
      }
    }

    input:checked + .button-group-item {
      background: $button-group-background-checked;
      border: 1px solid $button-group-border-checked;
      box-shadow: inset 0 1px 2px darken($button-group-background-checked, 10%);
      color: $button-group-color-checked;
    }
  }
}

.completed {
  color: #CED0D2;
    button, input, button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
      color: #CED0D2;
      background-color: #fff;
      border: 1px solid #CED0D2;
    }
}

#profile-submit-btn {
  margin: 10px 0 80px 50%;
  transform: translateX(-50%);
}

@media #{$XL} {
	body, input, textarea, select {
		font-size: 16pt;
	}
}

@media #{$LG} {
	#banner {
		padding: 2em 0 2em 0;
		background-size: auto, 175% auto;
	}
}

@media #{$Mid} {
	body {
		background-color: $brand-color;
		font-size: 14pt;
	}

	input, textarea, select {font-size: 14pt;}

	h2 {line-height: 1.5em;}

	header p {
		margin: 0.25em 0 0 0;
		padding: 0 0 0.5em 0;
	}

	.box {
		position: relative;
    &.style1 .image img {
      border-radius: 5px 5px 0 0;
      position: absolute;
    }
  }
	#banner {
		padding: 3.5em;
		background-size: 200% auto;
	}
	#banner br {
		display: none;
	}
}

@media #{$Small} {
		* {text-shadow: none !important;}

		body, input, textarea, select {
			line-height: 1.5em;
			font-size: 12pt;
			letter-spacing: 0;
		}

		h2 {
			font-size: 1.25em;
			letter-spacing: 4px;
		}

		input[type="button"],
		button,
		.button {
			padding: 0.75em 0 0.75em 0;
			width: 100%;
			max-width: 120px;
		}

		.box {
			margin-top: 4.5em;
				&:after {
					top: -4.5em;
					height: 4.5em;
				}
				&.style1 {
					padding: 0;
					text-align: center;
				}
				&.style1 .image {
					position: relative !important;
					left: 0 !important;
					width: 100% !important;
					height: auto !important;
				}
				&.style1 .image img {
					position: relative;
					width: 100%;
				}
				&.style1 .inner {
					margin: 0 !important;
					padding: 2em 1.25em 2em 1.25em !important;
				}
		}

		#header {
			padding: 6em 0 6em 0;
				header {
					padding-left: 2em;
					padding-right: 2em;
				}
				header h1 {
					font-size: 1.75em;
					letter-spacing: 6px;
				}
				footer {
					bottom: 4.5em;
					padding: 0 2em 0 2em;
						&:after {
							bottom: -4.5em;
							left: 50%;
							height: 4.5em;
						}
						&:before {
							width: 45px;
							height: 33px;
							bottom: -2.25em;
							margin-left: -22.5px;
							margin-bottom: -16.5px;
							background-size: 45px 33px;
						}
					}
				}

		#banner {
			padding: 3em 2em 3em 2em;
			background-size: auto 150%;
				header {
					margin: 0 0 1em 0;
						h2 {
							font-size: 1.5em;
							letter-spacing: 6px;
						}
					}
				}
	}
