.timer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 20px 30px;
  overflow: hidden;
  h1 {
    text-align: center;
    font: 400 4.9vw/1.4 'Play';
    color: blue;
    letter-spacing: 0px;
  }
  button {
    position: relative;
    margin: 0 4px;
    padding: 12px 8px;
    background: none;
    border: 1px solid yellow;
    border-radius: 50px;
    font: 400 1vw 'Arial';
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: red;
    transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background: black;
      transition: all .1s ease-in-out;
      z-index: -1;
    }
    &:hover {
      transform: scale(1.05);

      &:after {
        top: 0;
      }
    }
    &:disabled {
      color: orange;
    }
  }
}

.controls {
  animation: bounceSlide .45s 1 ease-in-out;
}

@keyframes bounceSlide {
  0% {transform: translateX(-1000px);}
  80% {transform: translateX(150px);}
  100% {transform: translateX(0);}
}
