<!-- Header -->
			<section id="header">
				<header>
					<h1>{{ recipeCtrl.recipe.title }}</h1>
					<p>{{ recipeCtrl.recipe.small }}</p>
				</header>
				<footer>
					<a href="mailto:?subject=Share a Recipeezy With Me&body=To cook this recipe with me, please visit {{ recipeCtrl.shareLink }}" class="button style2 scrolly-middle">Cook Together</a>
				</footer>
			</section>

		<!-- Ingredient List -->
			<section id="banner">
				<header>
					<h2>Ingredients</h2>
				</header>
				<ul ng-repeat="ingredient in recipeCtrl.recipe.ingredients">
					<li>{{ ingredient }}</li>
				</ul>
				<footer>
					<a ng-href="#step_0" class="button style2" du-smooth-scroll duration="1000">Start Cooking</a>
				</footer>
			</section>

		<!-- Steps -->
		<span ng-repeat="step in recipeCtrl.recipe.steps">
			<article id="step_{{ $index }}" class="container box style1" ng-class="{ 'right': $even, 'left': $odd }">
				<a href="#" class="image fit"><img ng-src="{{ step.images[0] }}" alt="" /></a>
				<div class="inner">
					<header>
						<h2>{{ step.title }}</h2>
					</header>
				</div>
			</article>

			<!-- Actions -->
			<article class="container box style2" ng-repeat="action in step.actions" ng-class="{ 'completed': action.completed }" ng-hide="$last" >
				<header id="step_{{ action.step }}_action_{{ $index + 1}}">
					<p>{{ action.text }}</p>

					<div class="timer" ng-if="action.minutes" ng-class="{ 'completed': action.timeLeft === 0 }">
					  <h1>{{ action.timeLeft | timecode }}</h1>
					  <div class="controls">
					    <button id="start" ng-click="recipeCtrl.startTime(action)" ng-disabled="action.timerRunning">start</button>
					    <button id="stop" ng-click="recipeCtrl.stopTime(action)" ng-disabled="!action.timerRunning">stop</button>
					    <button id="reset" ng-click="recipeCtrl.resetTime(action)">reset</button>
					  </div>
					</div>

					<div class="12u$">
						<ul class="actions" ng-if="!action.minutes" ng-model="timer">
							<li>
								<input type="button" value="Done" ng-href="#step_{{ action.step }}_action_{{ action.next_action }}" ng-if="$last === false" du-smooth-scroll duration="1000" ng-click="recipeCtrl.toggleCompleted(action)">
								<input type="button" value="Done" ng-href="#step_{{ action.next_step }}" ng-if="$last" du-smooth-scroll duration="1000" ng-click="recipeCtrl.toggleCompleted(action)">
							</li>
						</ul>
					</div>
				</header>
			</article>

		</span>

		<section id="footer">
			<ul class="icons">
				<li><a href="#"><span class="label">Enjoy!</span></a></li>
			</ul>
		</section>
