<form id="header" ng-submit="loginCtrl.login()">
  <header>
    <h1>Login</h1>
  </header>
  <fieldset>
    <div class="wy-control-group">
      <div class="wy-control">
        <input id="form-style" type="text" placeholder="email" ng-model="loginCtrl.user.email"/>
      </div>
      <div class="wy-control">
        <input id="form-style" type="password" placeholder="password" ng-model="loginCtrl.user.password"/>
      </div>
    </div>
    <footer>
    <input type="submit" value="Login" class="btn" />
    <!-- <input id="sign-up" type="submit" value="Sign Up" class="btn" ng-click="loginCtrl.signUp()"/> -->
  </fieldset>
  <a id="alternate-option" href="http://shonhartman.github.io/Final-Project/#/register">Need to sign up? Set up your profile here.</a>
</form>
