<form id="header" ng-submit="loginCtrl.login()">
  <header>
    <h1>Login</h1>
  </header>
  <fieldset>
    <div class="wy-control-group">
      <div class="wy-control">
        <input id="form-style" type="text" placeholder="username" ng-model="loginCtrl.user.email"/>
      </div>
      <div class="wy-control">
        <input id="form-style" type="password" placeholder="password" ng-model="loginCtrl.user.password"/>
      </div>
    </div>
    <footer>
    <input type="submit" class="btn" />
  </fieldset>
</form>
