<div class="button-group" ng-if="!profileCtrl.showOldRecipeForm">
  <label>
    <input type="radio" name="button-group" value="item" checked>
    <span class="button-group-item" ng-click="profileCtrl.setLastWeek()">Last Week</span>
  </label>
  <label>
    <input type="radio" name="button-group" value="other-item">
    <span class="button-group-item" ng-click="profileCtrl.setCurrentWeek()">This Week</span>
  </label>
  <label>
    <input type="radio" name="button-group" value="other-item">
    <span class="button-group-item" ng-click="profileCtrl.setNextWeek()">Next Week</span>
  </label>
  <label>
    <input type="radio" name="button-group" value="other-item">
    <span class="button-group-item" ng-click="profileCtrl.toggleOldForm()">Archive</span>
  </label>
</div>

<form ng-submit="profileCtrl.recipe(profileCtrl.oldRecipeUrl)" ng-if="profileCtrl.showOldRecipeForm">
  <input type="text" ng-model="profileCtrl.oldRecipeUrl">
  <input type="submit" value="Add Recipe">
  <input type="submit" value="Cancel" ng-click="profileCtrl.toggleOldForm()">
</form>

<input id="profile-submit-btn" ng-click="profileCtrl.logout()" type="submit" value="logout" class="btn" />

<div class="cards">
  <div class="card" ng-click="profileCtrl.recipe(recipe.url)" ng-repeat="recipe in profileCtrl.currentRecipes">
    <div class="card-image">
      <img ng-src="{{ recipe.image }}" alt="">
    </div>
    <div class="card-header">
      {{ recipe.title }}
    </div>
    <div class="card-copy">
      <p>{{ recipe.subtitle }}</p>
    </div>
  </div>
</div>
