<button ng-click="profileCtrl.logout()">Logout</button>

<form class="{$modifiers}" ng-submit="profileCtrl.recipe()">
  <h1>Recipe Url</h1>
  <fieldset>
    <div class="wy-control-group">
      <div class="wy-control">
        <input type="text" placeholder="http://" ng-model="profileCtrl.recipeUrl"/>
      </div>
    </div>
    <input id="profile-submit-btn" type="submit" class="btn" />
  </fieldset>
</form>


<div ng-repeat="recipe in profileCtrl.recipes">
  <a ui-sref="recipe({ id: recipe.$id })">{{ recipe.title }}</a>
</div>


<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://media.blueapron.com/recipes/1604/c_main_dish_images/20160325-2000-4-6807/2P_031516_3_SpicyPeanutNoodle-7007_Right_splash_feature.jpg" alt="">
    </div>
    <div class="card-header">
      Spicy Peanut Noodles
    </div>
    <div class="card-copy">
      <p>with Snow Peas, Pea Tips and Garlic Peanuts</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://media.blueapron.com/recipes/1603/c_main_dish_images/1460995307-4-4538/2P_R_041216_2_VadouvanChickpeaBurgers-6596_Right_splash_feature.jpg" alt="">
    </div>
    <div class="card-header">
      Vadouvan Chickpea Burgers
    </div>
    <div class="card-copy">
      <p>with Roasted Sweet Potato Rounds & Yogurt Sauce</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://media.blueapron.com/recipes/1602/c_main_dish_images/1460750962-4-4543/2P_R_041216_1_ZucchiniGruyereQuiches-6581_Right_splash_feature.jpg" alt="">
    </div>
    <div class="card-header">
      Zucchini and Parmesan Quiches
    </div>
    <div class="card-copy">
      <p>with Green Leaf Lettuce Salad and Pink Lemon Vinaigrette</p>
    </div>
  </div>
</div>
