<!-- <button id="logout-button" >Logout</button> -->

<input id="profile-submit-btn" ng-click="profileCtrl.logout()" type="submit" value="logout" class="btn" />

<div class="cards">
  <div class="card" ng-click="profileCtrl.recipe(recipe.url)" ng-repeat="recipe in profileCtrl.currentRecipes">
    <div class="card-image">
      <img ng-src="{{ recipe.image }}" alt="">
    </div>
    <div class="card-header">
      {{ recipe.title }}
    </div>
    <div class="card-copy">
      <p>{{ recipe.subtitle }}</p>
    </div>
  </div>

</div>
